
<style> 
        .italic {
            font-style: italic;
            margin-bottom: 50px;
            margin-top:50px;
            margin-left: 50px;
            margin-right: 50px;
            font-size:20px;
            font-family:calibri, serif;
         }

        .italicr {
            font-style: italic;
            float: right;
                
            margin-bottom: 50px;
            margin-top:50px;
            margin-left: 50px;
            margin-right: 50px;
            font-size:20px;
            font-family:calibri, serif;
        }
        
        .normal{
            font-style: normal;
        
        }
        .margin {
            margin-bottom: 50px;
            margin-top:50px;
            margin-left: 50px;
            margin-right: 50px;
            font-size:20px;
            font-family:calibri, serif;
        }
     
   
        h1 {
            margin-bottom: 50px;
            margin-top:50px;
            margin-left: 50px;
            margin-right: 50px;
                
            
            font-size:75px;
            text-align: center;
            font-family:verdana, serif;
             
   
        }
        h3 {
            border-bottom: solid;
            border-width: 1px;
            font-family:arial, serif;
           
        }
        h4 {
            font-size:25px;
        }
        h5 {
            font-size: 20px;

        }
        body{
            background-color: rgb(176,196,222);
        }
</style>
