
<style> 
.italic {
        font-style: italic;
}

.alignleft {
        text-align: left;
        
            margin-bottom: 50px;
            margin-top:50px;
            margin-left: 50px;
            margin-right: 50px;
            font-size:25px;
}
.alignright {
        text-align:right;
        
        margin-bottom: 25px;
            margin-top:25px;
            margin-left: 25px;
            margin-right: 25px;
            font-size:25px;
}
#textbox {
    display: flex;
    justify-content: space-between;
     font-size: 35px;
}
        .normal{
            font-style: normal
}
        .margin {
            margin-bottom: 75px;
            margin-top:75px;
            margin-left: 75px;
            margin-right: 75px;
                
}
     
   
        h1 {
            margin-bottom: 50px;
            margin-top:50px;
            margin-left: 50px;
            margin-right: 50px;
                
            
            font-size:75px;
            text-align: center;
            font-family:verdana, serif;
}

        h3 {
            border-bottom: solid;
            border-width: 1px;
            font-family:arial, serif;
            font-size: 30px;
           
}
        h4 {
            font-size:25px;
}
        h5 {
            font-size: 20px;
        p {
            font-size: 25px;     
}
                
}
        body{
            background-color: rgb(176,196,222);
}
</style>
